<a href="https://colab.research.google.com/github/LamuneGitHub/A001_Python_Test/blob/main/pandas_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 구글 드라이브 mount
from google.colab import drive
drive.mount('/content/drive')

#import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# 엑셀 파일 로딩
df_001 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "008770 ")
# CSV 파일 로딩
df_red = pd.read_csv( "https://raw.githubusercontent.com/aniruddhachoudhury/Red-Wine-Quality/master/winequality-red.csv" , sep = ",")
df_movie = pd.read_csv('https://raw.githubusercontent.com/LamuneGitHub/A001_Python_Test/main/data/movie.csv')
df_titanic = sns.load_dataset("titanic")

# 행 열 도치
df_temp = df_001.T

# DataFrame 정보 확인

In [ ]:
# 데이터 프레임 정보 확인
df_red.info()

In [ ]:
# 데이터 프레임의 통계 정보 확인
df_red.describe()

In [ ]:
# 열 이름으로 조회 => 시리즈
df_red['fixed acidity'].head(3)

In [ ]:
# 행 인덱스로 조회  => DataFrame
df_red.loc[0:2]

In [ ]:
# 행 인덱스로 조회  => DataFrame
df_red.iloc[0:2]

In [ ]:
#index를 이용한 DataFrame 의 조회
df_temp.iloc[0].head() # Series로 반환
df_temp.iloc[[0]] # DataFrame 으로 반환

# 컬럼 index로 조회 
df_temp[0] # 첫번째 열 조회

In [ ]:
# 컬럼 조회 
columns_tmp = df_red.columns
columns_tmp

# 컬럼 변경
df_red.columns = columns_tmp
df_red.columns

In [ ]:
# 결측치 갯수 조회
df_movie.isnull().sum() # 각 컬럼별 결측치 갯수 조회
df_movie['Certificate'].isnull().sum() # Certificate 컬럼의 결측치 갯수
df_movie.isnull().sum().sum() # 모든 결측치 갯수 조회

In [ ]:
# 결측치가 있는 모든 컬럼 조회
srs_temp = df_movie.isnull().sum()
srs_temp[ srs_temp > 0 ].index

In [ ]:
# 결측치 채우기
df_red.fillna(0) # 모든 결측치를 0으로 대치

# DataFrame 다루기

In [ ]:
# DF 추출 ( 나이 , 사망여부 )
df_temp_survived_age = pd.DataFrame(df_titanic)[['survived', 'age']]
df_temp_survived_age.head(3)

In [ ]:
# index 다시 매기기 
df_red = df_red.reset_index( drop = True ) # drop = True를 주지 않으면 기존의 index가 컬럼으로 추가 되면서 새로운 index가 생성된다.
df_red.head(3)

# Group by()
* mean() : 평균
* median() : 중간값
* 최빈값

In [ ]:
df_titanic.head(3)

In [ ]:
df_titanic.describe()

In [ ]:
# 생존여부,성별 을 기준으로 좌석등급 중앙값 DF 조회
df_temp = df_titanic.groupby(['survived','sex'] , as_index=False)['pclass','age'].median()
df_temp

In [ ]:
# 생존여부,성별 을 기준으로 좌석등급 중앙값 DF 조회
df_temp = df_titanic.groupby(['survived','sex'] , as_index=True)['pclass','age'].median()
df_temp