<a href="https://colab.research.google.com/github/LamuneGitHub/A001_Python_Test/blob/main/pandas_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
# 구글 드라이브 mount
from google.colab import drive
drive.mount('/content/drive')
"""

#import
import re
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# 엑셀 파일 로딩
df_001 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "008770 ")

# CSV 파일 로딩
df_red = pd.read_csv( "https://raw.githubusercontent.com/aniruddhachoudhury/Red-Wine-Quality/master/winequality-red.csv" , sep = ",")
df_white = pd.read_csv( "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv" , sep = ";")
df_movie = pd.read_csv('https://raw.githubusercontent.com/LamuneGitHub/A001_Python_Test/main/data/movie.csv')
df_titanic = sns.load_dataset("titanic")
df_patients = pd.read_csv('https://raw.githubusercontent.com/LamuneGitHub/A001_Python_Test/main/data/patients_info.csv')

# DataFrame 정보 확인

In [3]:
# 데이터 프레임 정보 확인
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
# 컬럼별 타입 확인
df_red.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [5]:
# 데이터 프레임의 통계 정보 확인
df_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
# 컬럼 조회 
columns_tmp = df_red.columns
columns_tmp

# 컬럼 변경
df_red.columns = columns_tmp
df_red.columns

In [ ]:
# 컬럼 이름의 배열 
list ( df_red)

# DataFrame 조회

### df1에서 col1 컬럼 전체를 추출

* df1.loc [ :, 'col1' ]
* df1[ 'col1' ] 
* df1.iloc[ :, 0 ]

### df2에서 인덱스가 a인 행을 추출

* df2.iloc [ 0 ] # (0번째 컬럼 = 'a')
* df2.loc [ 'a' ]

In [ ]:
# 조건 조회 : condition 조건 사용 

#: 나이가 없는 사람들 정보 확인 
condition = df_titanic['age'].isnull()

df_check = df_titanic.loc[condition]
df_check.head(3)

In [ ]:
# 다중 조건 조회 : condition 조건 사용 

#: 나이가 없는 사람들 정보 확인 
cond_1 = df_titanic['age'].isnull()
cond_2 = df_titanic['age'].isnull()

df_check = df_titanic.loc[cond_1 & cond_2]
df_check.head(3)

In [ ]:
# Query 를 사용한 조회 : 사망자 , 남성
df_temp = df_titanic.query( "sex == 'male' &  survived == 0 " )
df_temp.head(3)

In [ ]:
# 열 이름으로 조회 => 시리즈
df_red['fixed acidity'].head(3)

In [ ]:
# 행 인덱스로 조회  => DataFrame
df_red.loc[0:2]

In [ ]:
# 행 인덱스로 조회  => DataFrame
df_red.iloc[0:2]

In [ ]:
#index를 이용한 DataFrame 의 조회
df_temp.iloc[0].head() # Series로 반환
df_temp.iloc[[0]] # DataFrame 으로 반환

# 컬럼 index로 조회 
df_temp[0] # 첫번째 열 조회

In [ ]:
# 간단 조회 []
df_patients[df_patients.몸무게 == 22.14]

In [ ]:
# 간단 조회 loc()
df_patients.loc[ df_patients.몸무게 == 22.14]

In [ ]:
# 간단 조회 query
df_patients.query( "몸무게 == 22.14" )

# Missing Value (결측치)

In [ ]:
# 결측치 갯수 조회
df_movie.isnull().sum() # 각 컬럼별 결측치 갯수 조회
df_movie['Certificate'].isnull().sum() # Certificate 컬럼의 결측치 갯수
df_movie.isnull().sum().sum() # 모든 결측치 갯수 조회

In [ ]:
# 결측치가 있는 모든 컬럼 조회
srs_temp = df_movie.isnull().sum()
srs_temp[ srs_temp > 0 ].index

In [ ]:
# 결측치 채우기
df_red.fillna(0) # 모든 결측치를 0으로 대치

In [ ]:
## Nan != Nan 의 성질을 이용하여 결측치 채우기 
df_titanic.loc[df_titanic['age'] != df_titanic['age'], 'age'] = -1

df_titanic.loc[df_titanic['age'] == -1].head(3)

# DataFrame 다루기

In [ ]:
# DF 분리 추출 
#:( 나이 , 사망여부 )
df_temp_survived_age = pd.DataFrame(df_titanic)[['survived', 'age']]
df_temp_survived_age.head(3)

In [ ]:
# DF 분리 추출  
#: patients 테이블에서 환자고유번호와 이름을 가져옵니다.
primary_table = df_patients[['환자고유번호', '이름']]
primary_table.head(3)

In [ ]:
# index 다시 매기기 
df_red = df_red.reset_index( drop = True ) # drop = True를 주지 않으면 기존의 index가 컬럼으로 추가 되면서 새로운 index가 생성된다.
df_red.head(3)

In [ ]:
# 행 열 도치
df_temp = df_001.T

In [ ]:
# 원본 DataFrame copy
patients_copy = df_patients.copy()
patients_copy.head(3)

In [ ]:
# 열 삭제
patients_clean = df_patients_clean.drop('나이', axis='columns' )

# Group by()
* mean() : 평균
* median() : 중간값
* 최빈값

In [ ]:
df_titanic.head(3)

In [ ]:
df_titanic.describe()

In [ ]:
# 생존여부,성별 을 기준으로 좌석등급 중앙값 DF 조회
df_temp = df_titanic.groupby(['survived','sex'] , as_index=False)['pclass','age'].median()
df_temp

In [ ]:
# 생존여부,성별 을 기준으로 좌석등급 중앙값 DF 조회
df_temp = df_titanic.groupby(['survived','sex'] , as_index=True)['pclass','age'].median()
df_temp