<a href="https://colab.research.google.com/github/LamuneGitHub/A001_Python_Test/blob/main/S13%EC%84%A0%ED%98%95%EB%8C%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.display import display

import re
import math
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# 줄 구분 표시 출력 
def print_line() :
  print ("\n------------------------------------------------")
def print_line_m() :
  print ("\n-----------------------")
def print_line_s() :
  print ("\n----------")

# 기타

In [ ]:
# 절대값 
print ( abs(-100 ))

# nd_array 합치기  
https://engineer-mole.tistory.com/234

In [ ]:
X = np.array([35, 10, 25, 40])
Y = np.array([0, 50, 50, 0])
Z = np.array([0, 0, 100, 0])

# 수평 합치기
arr_h = np.hstack( [X,Y,Z])
print (arr_h)

# 수직 합치기
arr_v = np.vstack( [X,Y,Z])
print (arr_v)

벡터 곱 연산 .dot

In [ ]:
price = np.array([100, 500, 250, 50])
X = np.array([35, 10, 25, 40])
Y = np.array([0, 50, 50, 0])
Z = np.array([0, 0, 100, 0])

# case 01 : np.dot
res1 = [np.dot(price, person) for person in (X, Y, Z)]
print ( res1 )

# case 02 : matmul , nd_array 합치기 ( 수직 )
amount =  np.vstack( [X, Y, Z] )
print( amount)
res1 = np.matmul(amount, price)
print ( res1 )

# case 03 : @ 연산자
res1 = amount @ price
print ( res1 )